<!-- index.html -->
{% extends 'base.html' %}

{% block content %}

		

  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto text-center">        
          <h1>{{ error }}</h1>
          <IMG SRC="{{ url_for('static', filename='img/_mistake_500x.webp') }}">
          <h4>{{ error_subtitle }}</h4>
          <br>
          <div>
            <a href="{{ url_for('index', _external=True, lang=lang) }}" class="btn btn-primary">{{ back_home }}</a>
          </div>         
        </div>
      </div>
    </div>
  </section>
  
  
  

{% endblock %}
