<!-- index.html -->
{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col-12 col-lg-8  mx-auto">

            <h1>Sign In</h1>
            <form action="" method="post" novalidate>
                {{ form.csrf_token() }}
                <p>
                    {{ form.username.label }}<br>
                    {{ form.username(size=32) }}
                </p>
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(size=32) }}
                </p>
                <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                <p>{{ form.submit(type="submit") }}</p>
            </form>

            {% with message = get_flashed_messages()[0] %}
                {% if message %}
                    <b class="flash-messages">
                        {{ message }}                        
                    </b>
                {% endif %}
            {% endwith %}
        </div>
    </div>

{% endblock %}